{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="author" content="chairhong" />
	<title>HellCamp Assignment</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!-- 크롬으로 들어오세요 -->
</head>
<body>
	{% include 'base/header.html' %}
	<div class="main-header-img">
		<div class="sub-header-img">
			<p>ANOUNCE</p>
		</div>
	</div>
	
	<section class="anounce-list">
		<div class="list">
			<div id="list">
				
			</div>
		</div>
		<input type="button" id="list-button" value="글 불러오기"/>
	</section>
	{% include 'base/footer.html' %}
</body>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript">

	get_list();
	function get_list()
	{
		var i = 0;
		$("#list-button").click(function()
		{
			$.ajax(
			{
				type: "POST",
				url: "/anounce/get_list",
				data: "data",
				dataType: "json",
				processData: false,
				contentType: false,
				success: function(data)
				{
					var result = data.result;
					$("#list").html("");
					if(i==10)
					{
						alert("리스트가 존재하지 않습니다.");
						for(j=0; j<10; j++)
						{
							if(result[j]['author_id'] == 1) var name= "admin";
							else name = result[j]['author'];
							$("#list").append("<div class='get_list' id="+result[j]['id']+"><p>TITLE : "+result[j]['title']+"</p><p>작성자 : "+name+"</p><p>날짜 : "+result[j]['published']+"</p></div>");
						}
					}
					else
					{
						for(j=0; j<=i; j++)
						{
							if(result[j]['author_id'] == 1) var name = "admin";
							else name = result[j]['author'];
							$("#list").append("<div class='get_list' id="+result[j]['id']+"><p>TITLE : "+result[j]['title']+"</p><p>작성자 : "+name+"</p><p>날짜 : "+result[j]['published']+"</p></div>");
						}
						i++;
					}
					//alert(result[0]['title']);
				}
			});
		});
	}

	$(document).on("click",".get_list",function()
	{	
		var id = $(this).attr("id");
		$.ajax
		({	
			type: "POST",
			url: "/anounce/detail_list/"+id,
			data: "data",
			dataType: "json",
			processData: false,
			contentType: false,
			success: function(data){
				var result = data.result;
				if(result[0]['author_id'] == 1) var name = "admin";
				else name = result[0]['author'];
				$("#list").html("");
				$("#list").append("<form class='detail_form' method='post'><table border='1' class='detail_table'><tr><td id='title' colspan=4>제목 : " +result[0]['title']+"</td></tr><tr><td id='author' colspan=2>작성자 : " +name+"</td><td id='published' colspan=2>날짜 : " + result[0]['published']+"</td></tr><tr><td id='context' colspan=4>"+result[0]['context']+"</td></tr></table></form>")
			}
		});
	});
</script>
</html>
